.bumpStatus{
    text-align:right;
    width:100%;font-size:8px;
}

.logo{
    background-image: url('../images/background_main2.png');
         
    
}

.businessPartner{
    background-image: url('../images/background_blank.jpg');
         
    
}

.location_box{
  
     
}
.bg_location {
    
    background-image:url('../images/bg_location.gif');
    text-align:center;
    width:320px;
    height:100px;
    color:#ffffff;
    position:absolute;
    top:+55px;
}

.bg_points {
    
    background-image:url('../images/points_bg.png');
    text-align:left;
    width:320px;
    height:121px;
    color:#ffffff;
    position:absolute;
    top:+158px;
     
    
}

.bg_redeem {
    
    background-image:url('../images/redeem_bg.gif');
    text-align:left;
    width:320px;
    height:121px;
    color:#ffffff;
    position:absolute;
    top:+158px;
     
    
}
.bg_status {
    
    background-image:url('../images/status_bg.png');
    text-align:center;
    width:320px;
    height:40px;
    color:#ffffff;
    position:absolute;
    top:+283px;
   
    
    
}

.bg_badges {
    
    background-image:url('../images/badges_bg.png');
    text-align:center;
    width:320px;
    height:65px;
    color:#ffffff;
    position:absolute;
    top:+325px;
    
}

.location_name{
    position: absolute;
    top: +80px;
    text-align: center;
    color:#ffffff;
    width:320px;
    font-size:24px;
    font-weight:bold;
}

.bugreport_cls{
    position:absolute;
    top:120px;
    left:+20px;
    color:#3397b9;
    width:320px;
    
   
}

.points_cls{
   position: absolute;
   top: +220px;
   left:+20px;
   color:#ffffff;
   
}
.pointsbar_cls{
   position: absolute;
   top: +176px;
   left:+20px;    
   
}
.pointsbardisabled_cls{
   position: absolute;
   top: +176px;
   left:+20px;    
   
}
.pointstimer_cls{
    position:absolute;
    top:185px;
    left:+255px;
    
    
}
.statustext_cls{
    position:absolute;
    top:290px;
    color:#ffffff;
    width:320px;
    left:+20px;
    
     
}
.badgetext_cls{
    position:absolute;
    top:345px;
    text-align: center;
    color:#ffffff;
    width:320px;
   
}
.sim_match_cls{
    top:0px;
    left:230px;
    width:100px;
    height:50px;
    position:absolute;
   
}    

.hidden{
    visibility: hidden;
}

.refresh_cls{
   
    position:absolute;
    top:180px;
    text-align: center;
    color:#ffffff;
    width:320px;
      

}

.clunkability_cls{
 
     position:absolute;
    top:40px;
    left:190px;
    font-size:15px;
    color:#ffffff;
    width:320px;
    color:red;
}



.bp_name_cls {
    
    position:absolute;
    top:+8px;
    color:#000;
    left:19px;
    width:320px;
}

.bp_points_text_cls{
    position:absolute;
    top:+11px;
    color:#000;
    text-align:center;
    width:320px; 
}
.bpbg_name_cls {
    
    background-image:url('../images/pbar.png');
    
    width:320px;
    height:32px;
    color:#000;
    position:absolute;
    top:+5px;
}

.bpbg_description_cls {
    
    background-image:url('../images/bg_description.gif');
    
    width:320px;
    height:121px;
    color:#ffffff;
    position:absolute;
    top:+40px;
}

.bp_description_cls {
    
    position:absolute;
    top:+40px;
    color:#ffffff;
    padding:15px;
    width:320px;
    font-size:12px;
}

.bpbg_status_cls {
    
    background-image:url('../images/status_bg.png');
    text-align:center;
    width:320px;
    height:40px;
    color:#ffffff;
    position:absolute;
    top:+166px;
}


.bp_status_cls {
    
    
    text-align:center;
    width:320px;
    height:40px;
    color:#ffffff;
    position:absolute;
    top:+175px;
}

.bpbg_badge_cls {
    
    background-image:url('../images/badges_bg.png');
    text-align:center;
    width:320px;
    height:65px;
    color:#ffffff;
    position:absolute;
    top:+208px;
    
}

.bp_badge_cls {
    
    
    text-align:center;
    width:320px;
    height:65px;
    color:#ffffff;
    position:absolute;
    top:+233px;
    
}

.bp_recent_cls {
    
    
    text-align:center;
  
    
    color:#ffffff;
    position:absolute;
     padding-left:20px;
    padding-right:10px;
    width:300px;
    top:+280px;
    
}

.bp_recent_head_cls{
    
  text-align:center;
    width:320px;
    
    color:#ffffff;
    position:absolute;
    top:+270px;  
   

}   
    
 .redeem_cls {
    
    background-image:url('../images/redeem.png');
    text-align:center;
    width:320px;
    height:100px;
    color:#ffffff;
    position:absolute;
}